:root {
  --td-button-border-radius: 16px;
  --td-button-font-weight: 600;
  --td-font-family: HarmonyOS Sans SC, PingFang SC, Microsoft YaHei, Arial Regular;
  --td-font-family-medium: HarmonyOS Sans SC, PingFang SC, Microsoft YaHei, Arial Medium;
  --td-tag-square-border-radius: 6px;
}

body {
  margin: 0;
  background-color: #f5f6f7;
}

.t-action-sheet__description {
  margin: 0;
}

.t-button {
  font-family: 'HarmonyOS Sans SC', Arial, sans-serif;
}

.t-tag {
  font-weight: 500 !important;
}
